<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

While you're waiting...
Provide us more info, so we could find your match.

<form action = "http://localhost:5000/recipe" method = "POST">
         <p>Random question #1 </p>

         <input type="radio" name="gender" value="student"> 1 <br>
          <input type="radio" name="gender" value="work"> 2 <br>
          <input type="radio" name="gender" value="work"> 3 <br>
     <p><input type = "submit" value = "Send" /></p>
      </form>

</body>
</html>