<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="/static/swipe.css"/>
<body>
  <div class="demo">
    <header class="demo__header"></header>
    <div class="demo__content">
      <form action = "http://localhost:5000/result" method = "POST">
         <p>We want to learn more about you! Choose the lifestyle that applies best to you!</p>

         <input type="radio" name="gender" value="student"> Student <br>
          <input type="radio" name="gender" value="work"> Athlete <br>
          <input type="radio" name="gender" value="work"> Working class <br>
          <input type="radio" name="gender" value="parent"> Parent <br>

         <p>How much time do you usually spend cooking?
             <input type = "text" name = "c_time" /></p>
          <p><input type = "submit" value = "Find recipe" /></p>
      </form>
    </div>
  </div>
</body>
</html>